# Ignore everything
*

# But not directories, as we need to search them for flake.nix files
!*/

/*/*
# Do not ignore flake.nix files in any direct subdirectory
!/*/flake.nix

# Do not ignore flake.lock files in any direct subdirectory
!/*/flake.lock

# Do not ignore flake.nix files in any direct subdirectory
!/*/.envrc
